In [1]:
import numpy as np

**Basic Array Creation**  
We use python list to make array in numpy

In [11]:
arr = np.array([1,2,3,56])
arr     #print arr

array([ 1,  2,  3, 56])

In [14]:
a = [1,23, 45, "hello"]   #its a list we can pass it to numpy to convert it into array

In [15]:
np.array(a)

array(['1', '23', '45', 'hello'], dtype='<U21')

**Above you can see**  
dtype='<u21' it means all the element of the array are converted to unicode format, beacuse array can store homogeneous data types only,
it means if you give a hetrogeneous list then it will convert its data type to string

#### Vectors and Metrices

Vectors are one dimentional, where Metrices are multi-dimentional   
We can store vector in list but for metrices we need row and coloumns which are not supported by lists so we make, multidimensional arrays

In [2]:
l1 = [[1,2,3],[4,5,8],[10,43,56]]
l1

[[1, 2, 3], [4, 5, 8], [10, 43, 56]]

**Above you can see it, it is looking one dimentional**  
Now we will convert it to array

In [4]:
np.array(l1)

array([[ 1,  2,  3],
       [ 4,  5,  8],
       [10, 43, 56]])

*So here we can see that its looking like a metrix*

#### Array Generation Function

##### **np.arange(start, stop, steps)**  
simillar to range function, but here we write arange

In [8]:
arr1 = np.arange(1,10,2)
arr1

array([1, 3, 5, 7, 9])

##### **Creating Zero/Null metrix**
np.zeros((row, column))

*1D*

In [32]:
arr2 = np.zeros(6)
arr2

array([0., 0., 0., 0., 0., 0.])

*2d*

In [31]:
arr3 = np.zeros((6,6))
arr3

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [33]:
arr3 = np.zeros((4,6))
arr3

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

##### Ones matrix

Ones matrix (All the elements are 1)

In [34]:
arr4 = np.ones(6)
arr4

array([1., 1., 1., 1., 1., 1.])

In [36]:
arr5 = np.ones((3,5))
arr5

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

**Making a array with linear space b/w the components**  
np.linspace(start, end, numberof element you want in that array), each elemnet having same difference from his privious element

In [10]:
arr6 = np.linspace(1,10,2)
arr6

array([ 1., 10.])

we need only two elements and 1 and 10 are already here so we see nothing new

In [9]:
arr7 = np.linspace(0,10,5)
arr7

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

Here we can see we have total 5 elements and each have same difference in betweeen

#### Random Generation Function

when we install numpy libraray then Random library installs automatically, and these both works together

In [3]:
arr8 = np.random.rand(10)
arr8

array([0.53400847, 0.73619025, 0.38317703, 0.56646146, 0.48364319,
       0.24050176, 0.17306981, 0.98878179, 0.26703667, 0.47676777])

Here you can see these all are random number b/w 0 to 1(its a concept of normalization)

In [4]:
arr9 = np.random.randn(10)
arr9

array([ 0.8974205 , -0.39339049, -0.51248247, -0.27858806,  1.80266995,
        0.95085552, -0.14180319,  1.91617491, -1.31739528, -0.27468406])

these are the random numbers b/w -3 to 3(concept of standarlization)

In [6]:
np.random.randint(6)

3

**np.random.randint(n)** It will genterate a single random int number smaller then n

In [10]:
arr10 = np.random.randint(10,20,12);
#it will genrate a array of 12 random int starting from 10 to 20
arr10

array([13, 16, 11, 15, 13, 10, 16, 14, 17, 19, 16, 10], dtype=int32)

#### Array Attributes

In [20]:
arr11 = np.array([[7,2,3],[9,56,20],[43,54,56]])
arr11

array([[ 7,  2,  3],
       [ 9, 56, 20],
       [43, 54, 56]])

In [14]:
arr11.shape    #it tells the shape of the array(row, column)

(3, 3)

In [15]:
arr11.size   #tells the number of elements in the array

9

In [16]:
arr11.dtype      #tells the dataType of the array

dtype('int64')

#### Array Methods

In [24]:
# we already have a array 
arr11

array([[ 7,  2,  3],
       [ 9, 56, 20],
       [43, 54, 56]])

In [21]:
arr11.min()  #tells the minimum element of the array

np.int64(2)

In [22]:
arr11.max()   #tells the maximum element of the array

np.int64(56)

In [23]:
arr11.sum()   #sum all the elemnts of the array

np.int64(250)

If you want sum of rows and columns then --->

In [26]:
np.sum(arr11, axis = 0)

array([ 59, 112,  79])

in axis =0  it sums each coloumn separetly

In [27]:
np.sum(arr11, axis = 1)

array([ 12,  85, 153])

in axis = 1 it sums each row separetly

In [29]:
arr11.mean()  #gives the middle elemnet(sum of elemnts)/total num of element

np.float64(27.77777777777778)

In [30]:
arr11.std()   #tells the standrd deviation

np.float64(22.694971434109842)

In [32]:
arr11.argmax()    #tells the index of maximum element

np.int64(4)

In [33]:
arr11.argmin()   #tells the index of minimum element

np.int64(1)

#### Resizing and Reshaping

In [39]:
arr12 = np.arange(1,31)
arr12

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

**Its a 1D array and we want to convert it into vector (2D array)**  
If you are reshaping something then your element count should be the same

In [42]:
arr12 = arr12.reshape(6,5)
arr12

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26, 27, 28, 29, 30]])

so all our 30 elements are utilized

#### So these are the basic operations of a NUMPY array